In [1]:
import pandas as pd

In [10]:
liste = [1,2,3,4,5]
seri = pd.Series(liste)

In [6]:
indexList = ['a', 'b', 'c', 'd', 'e']

In [7]:
pd.Series(liste, indexList )

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
sozluk = {'ahmet': 'forvet', 'mehmet': 'defans', 'eren': 'kaleci'}

In [18]:
sozlukSerisi = pd.Series(sozluk)

In [15]:
seri.dtypes

dtype('int64')

In [16]:
seri.is_unique

True

In [17]:
seri.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [20]:
sozlukSerisi

ahmet     forvet
mehmet    defans
eren      kaleci
dtype: object

In [19]:
sozlukSerisi.describe()

count          3
unique         3
top       forvet
freq           1
dtype: object

In [22]:
#shift + tab + tab  : parametreleri görebiliriz.

pd.Series(liste, indexList, copy=True)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [23]:
calisanlar = ['ahmet', 'ece', 'emre']
maaslar = [1000, 2000, 1000]

In [24]:
pd.Series(calisanlar, maaslar)

1000    ahmet
2000      ece
1000     emre
dtype: object

In [42]:
dataframe = pd.read_csv('ibo.csv', squeeze=True, cols)

# Python Built-in Functions

In [43]:
dataframe

Zaman          Taylor Swift: (Türkiye)    İbrahim Tatlıses: (Türkiye)
2021-04-02T20  4                                                   14
2021-04-02T21  4                                                   15
2021-04-02T22  4                                                   17
2021-04-02T23  4                                                   17
                                                     ...
2021-04-09T15  3                                                   11
2021-04-09T16  5                                                   11
2021-04-09T17  6                                                   11
2021-04-09T18  5                                                   11
2021-04-09T19  4                                                   13
Name: Kategori: Tüm kategoriler, Length: 169, dtype: object

In [47]:
dataframe.get(2)

'15'